[flake8]
select = ANN,B,B9,BLK,C,D,E,F,I,S,W
max-line-length = 100
max-complexity = 10
docstring-convention = google
per-file-ignores =
    tests/*:S101
exclude =
    src/alembic/env.py
ignore = D10, ANN002, ANN003, ANN101, ANN102,
